body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

html ::-webkit-scrollbar {
    width: 1px;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #6e6ea9;
  }
  html ::-webkit-scrollbar-track {
    background: #ededed;
  }

input {
    width: 14em;
    height: 15px;
}

.bottone1 {
    display: inline;
    margin: 2px;
    color: white;
    padding-left: 11px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 7px;
    background: #8465f386;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.1s;
   }
   
   .bottone1:hover {
    box-shadow: 7px 5px 26px -14px #63cee1;
   }
   
   .bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 26px -10px #63cee1;
   }

   .input {
    margin: 8px;
    display: block;
    color: white;
    background-color: #1f1c1c;
    max-width: 190px;
    height: 10px;
    padding: 10px;
     border: 2px solid #8b65f344;
        border-radius: 5px;
  }
  
  .input:focus {
    color: rgb(255, 255, 255);

    outline-color: rgba(113, 67, 241, 0.548);
    box-shadow: -3px -3px 15px rgba(54, 87, 235, 0.582);
    transition: .1s;
    transition-property: box-shadow;
  }
